body{
    font-family: 'Nunito', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    background-color: #ffffe4;
}

.navbar, .navbar-menu {
    background-color: transparent;
}

.navbar-item .button {
    background: transparent;
}

#logo {
    max-height: unset;
    min-height: 98px;
}

a.navbar-item:hover {
    background: unset;
    color: #ad231e;
}

#google_translate_element{
    text-align: end;
    min-height: 27px;
}

#intro-section, #register-intro {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#where {
    margin-bottom: 4rem;
}

#theme {
    margin-bottom: 6rem;
}

#participate-button {
    background: transparent;
    border-color: white;
    color: white;
}

#details-button {
    background: transparent;
    border-color: #ad231e;
    color: #ad231e !important;
}

#intro-section {
    background-size: cover;
    background: #363636 url("../images/hills_6.png") no-repeat fixed center bottom;
}

#participate-word {
    padding-left: .3rem;
}

.card, .tile.box {
    background-color: #fffdd4;
}

.card-header-title {
    justify-content: center;
}

.card-header {
    box-shadow: none;
}

hr:not(.navbar-divider) {
    width: 3rem;
    height: .6rem;
    background-color: #ad231e;
    margin-top: -.5rem;
}

.navbar-divider {
    background-color: #ad231e;
    height: 1px;
}

.section-title {
    text-transform: uppercase;
}

.card-image img {
    object-fit: cover;
    height: 260px;
}

.a-legant {
    text-decoration: none !important;
    color: unset;
    box-shadow: inset 0 -4px 0 #c0e6f7 !important;
}

.a-legant:hover {
    background: #c0e6f7 !important;
}

.goog-te-gadget-simple {
    background-color: transparent !important;
    font-family: 'Nunito', sans-serif;
}

#register-intro, #event-guide-intro, #speakers-intro {
    background-size: cover;
    background: #363636 url("../images/bwindi.jpg") no-repeat fixed center bottom;
}

.padding-left {
    padding-left: 2vw;
}

.navbar .is-active {
    color: #ad231e !important;
    cursor: default;
    background-color: #ffffe4 !important;
}

#registration_form {
    min-height: 2400px;
}

.ack {
    margin-top: 4rem;
}

.navbar-dropdown {
    background-color: #ffffe4;
    border-top: .5px solid #ad231e;
}

.navbar-dropdown a.navbar-item:hover {
    background-color: #ffffe4;
    color: #ad231e;
}

.small-padding-left {
    padding-left: 1vw;
}

#video-player {
    min-height: 480px;
}

#map {
    min-height: 450px;
}

hr.sub {
    width: 4rem;
    height: .1rem;
    background-color:  #ad231e;
    margin-top: -.5rem;
}

.section-subtitle {
    color: #ad231e;
    margin-top: 8vh;
}

.center {
    justify-content: center;
}

.has-text-red {
    color: #ad231e;
}

.item {
    padding: 1rem;
}

.focus-info {
    padding-top: .5rem;
}

.info-card {
    display: flex;
    align-items: center;
}

.title, .subtitle {
    font-weight: normal;
}

.icon.is-large {
    color: #ad231e;
}

.is-hoverable {
    margin-left: -1vw;
}

.speakers img.is-rounded {
    object-fit: cover;
}

.image.is-128x128 {
    min-width: 128px;
    max-width: 100%;
    width: unset;
}

.column.box.tile {
    margin: 4px;
}
